<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default" style="text-align: center; margin-top:100px;">
        <div class="panel-heading"><h1>Login</h1></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <form id="loginForm">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email" ng-model="email"><!-- binds the user input to the scope variable $scope.email -->
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password"><!-- binds the user input to the scope variable $scope.password -->
                </div>
                <button type="button" class="btn btn-default" data-ng-click="loginFunction()">Submit</button><!-- clicking the button calls the login function in the LoginController -->
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <p style="text-align:center; margin-top: 50px;"> powered by </br><img src="http://docs.wia.io/images/logo.svg" style="height:25px; margin-top: 8px; margin-right: 1px;"/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
